@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root{
    --ui-bg: var(--ui-color-neutral-50);
}

.dark{
    --ui-bg: var(--ui-color-neutral-900);
}

@theme static {
  --font-newsreader: "Newsreader", serif;
  --font-geist: "Geist", sans-serif;
  --font-mono: "Geist Mono", sans-serif;
  --font-code: "Fira Code", "JetBrains Mono", monospace;

  --color-drake-50: oklch(0.9194 0.0118 190.2754);
  --color-drake-100: oklch(0.8374 0.0239 190.0055);
  --color-drake-200: oklch(0.7563 0.0372 187.5944);
  --color-drake-300: oklch(0.6751 0.0491 187.4712);
  --color-drake-400: oklch(0.5952 0.0618 187.1714);
  --color-drake-500: oklch(0.5144 0.0742 187.7835);
  --color-drake-600: oklch(0.4521 0.0622 187.6737);
  --color-drake-700: oklch(0.3879 0.0492 187.4317);
  --color-drake-800: oklch(0.3274 0.0374 187.3749);
  --color-drake-900: oklch(0.2639 0.0252 187.2776);
  --color-drake-950: oklch(0.1997 0.0134 187.6179);
}
